{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section id="logo_message_area">
        <div class="inner-wrapper">
            <h1 class="no_margin logo"><strong>Luksusowe</strong>
                <small>Osiedle</small>
            </h1>
            {% if email_sent %}
            <h2 id="email_sent">Wiadomość została wysłana!</h2>
            {% endif %}

        </div>
        <div class="inner-wrapper driver_space"></div>
    </section>
    <section id="content">
        <div class="inner-wrapper">
            <div class="row-fluid">
                <div class="span12">
                    <h1>Nasz <strong>Kontakt</strong></h1>

                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                        but also the leap into electronic typesetting, remaining essentially unchanged. It was
                        popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                        and more recently with desktop publishing software like Aldus PageMaker including versions of
                        Lorem Ipsum.</p>

                    <div class="divater">
                        <div class="line"></div>
                        <span><img src="{% static "images/deviter.png" %}" alt=""></span></div>

                    <h2 class="text_center">Ponad <strong> 500 </strong> usatysfakcjonowanych klientów</h2>
                    <!--Start List Clients-->
{#                    <div class="text_center patner_list">#}
{#                        <img src="{% static "images/patner/patner.png" %}" alt="preview">#}
{#                        <img src="{% static "images/patner/patner2.png" %}" alt="preview">#}
{#                        <img src="{% static "images/patner/patner.png" %}" alt="preview">#}
{#                        <img src="{% static "images/patner/patner2.png" %}" alt="preview">#}
{#                    </div>#}
                    <!--End List Clients-->
                    <!--Start Break page-->
                    <div class="divater">
                        <div class="line"></div>
                        <span><img src="{% static "images/deviter.png" %}" alt=""></span></div>
                    <!--End Break page-->
                    <div class="row-fluid">
                        <div class="span6" style="text-align: center">
                            <!--Start Gmap statis-->
                            <iframe width="90%" height="400" frameborder="0" style="border:0"
                                    src="https://www.google.com/maps/embed/v1/place?q=Luzino%2C%20Poland&key=AIzaSyAVfFlHrlpz85YhPWsv0Y-7zRdJWj8wNos"></iframe>
{##}
{#                            <h2><strong>Where</strong> we Are?</h2>#}
{##}
{#                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum#}
{#                                has been the industry's standard dummy text ever since the 1500s, when an unknown#}
{#                                printer took a galley of type and scrambled it to make a type specimen book. It has#}
{#                                survived not only five centuries, but also the leap into electronic typesetting.</p>#}
{#                            <!--End Gmap statis-->#}
                        </div>
                        <div class="span6">
                            <!--Start Contact Form-->
                            <h2>Zadzwoń pod numer: <br/><strong>602 444 508</strong><br/> Lub wypełnij poniższy formularsz:</h2>

                            <form class="lobstrer_form_validation" method="post">
                                {% csrf_token %}
                                <label>Adres Email</label>
                                <input type="email" class="input-block-level" name="email" required/>
                                <label>Wiadomość</label>
                                <textarea  name="message" class="input-block-level" rows="5" required></textarea>
                                <input type="submit" value="Send" class="btn btn-large flat btn-primary">
                            </form>
                            <!--End Contact Form-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End section content page -->
{% endblock %}