{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section id="logo_message_area">
        <div class="inner-wrapper">
            <h1 class="no_margin logo"><strong>Luksusowe</strong>
                <small>Osiedle</small>
            </h1>
        </div>
        <div class="inner-wrapper driver_space"></div>
    </section>

    <section id="content">
        <div class="inner-wrapper">
            <div class="row-fluid">
                <div class="span6">
                    <img src="{% static "images/Unknown.jpg" %}"/>
                </div>
                <div class="span6">
                    <h2>OTOCZENIE</h2>

                    <p>Domy w zabudowie szeregowej położone w malowniczej części miejscowości Luzino 8km od Wejherowa,
                        35km od Gdyni. Wielkość działek od 420m2 do 850m2. Cena za metr kwadratowy łącznie z działką –
                        1900zł
                    </p>

                    <p>
                        MEDIA: energia elektryczna, kanalizacja gminna, wodociąg gminny, gaz ziemny.
                    </p>

                    <p>
                        WYKONANIE: budynki wykonano z Porotherm Wienerberger. Pioro-wpust używając masy klejowej do
                        silikatów.
                    </p>
                </div>

            </div>
            <div class="divater">
                <div class="line"></div>
                <span><img src="{% static "images/deviter.png" %}" alt=""></span></div>
            <div class="row-fluid">
                <div class="span6">
                    <h2>KONSTRUKCJA</h2>

                    <p>Konstrukcja dachów drewniana w całości odeskowana. Dach pokryty dachówką ceramiczną najwyższej
                        klasy, czarną z połyskiem. Kominy systemowe firmy Layer zakończone cegłą klinkierową. Balkony –
                        balustrady kute, bogato zdobione. Elewacja budynku docieplona styropianem o grubości 14 cm w
                        całości wykonana w systemie firmy Weber z tynkiem silikatowo-akrylowym. Całość budynku wykonana
                        z materiałów najwyższej klasy atestowanych i potwierdzonych systemem jakości PN. Stolarka
                        okienno-drzwiowa najwyższej klasy. Okna w kolorze orzecha, sześciokomorowe Brama garażowa: drzwi
                        wejściowe firmy Wiśniewski</p>


                </div>
                <div class="span6">
                    <img src="{% static "images/foto_osiedle.jpg" %}"/>
                </div>
            </div>
        </div>
    </section>
{% endblock %}