{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section id="logo_message_area">
        <div class="inner-wrapper">
            <h1 class="no_margin logo"><strong>Luksusowe</strong>
                <small>Osiedle</small>
            </h1>
        </div>
        <div class="inner-wrapper driver_space"></div>
    </section>
    <section id="content">
        <div class="inner-wrapper">
            <div class="row-fluid">
                <div class="span3">
                    <!-- Start section list Link Acomodation -->
                    <h2>Wybierz swój dom !</h2>

                    <p>Zobacz szczegóły:</p>
                    <ul class="unstyled link_acomodation">
                        {% for house_type in house_types %}
                            <li {% if house_type.pk == house.pk %}class="active"{% endif %}>
                                <a href="{% url "core:houses"  house_type.pk %}">
                                    {{ house_type.name }} <br/>
                                    <small>{{ house_type.space }} m<sup>2</sup> cena: {{ house_type.price }}</small>
                                </a></li>
                        {% endfor %}
                    </ul>
                    <!-- End section list Link Acomodation -->
                    <!-- Start List Testimonial-->
                </div>
                <div class="span9">
                    <!-- Start Detail Acomodation -->
                    <div id="myCarousel" class="carousel slide">
                        <ol class="carousel-indicators">
                            {% for image in house.images.all %}
                            <li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}" {% if foorloop.first %}class="active"{% endif %}></li>
                            {% endfor %}
                        </ol>
                        <!-- Carousel items -->
                        <div class="carousel-inner carousel_full_images">
                            {% for image in house.images.all %}
                            <div class="{% if foorloop.first %}active{% endif %}item">
                                <img src="{% static "images/dot.png" %}"
                                     data-src="{% static "images/interior/5388055503_bdfec0a3d5.jpg" %}" alt="preview">
                                <div class="carousel-caption">
                                    <h4>{{ image.caption }}</h4>
                                    <p>{{ image.description }}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <!-- Carousel nav -->
                        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
                    </div>
                    <div class="divater">
                        <div class="line"></div>
                        <span><img src="{% static "images/deviter.png" %}" alt=""></span></div>
                    <h2>Informacje</h2>
                    <div class="house_description">
                        {{ house.description }}
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}