{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section id="logo_message_area">
        <div class="inner-wrapper">
            <h1 class="no_margin logo"><strong>Luksusowe</strong>
                <small>Osiedle</small>
            </h1>
            <div class="row-fluid">
                <div class="span8">
                    <p class="no_margin"> Nasza galeria</p>
                </div>
            </div>
        </div>
        <div class="inner-wrapper driver_space"></div>
    </section>
    <section id="content">
        <div class="inner-wrapper">
            <div class="row-fluid">
                <div class="span3">
                    <!-- Start section list Link Acomodation -->
                    <h2>We had the best room for you!</h2>

                    <p>See Deatails :</p>
                    <ul class="unstyled link_acomodation">
                        <li><a href="accomodation_detail.html">All</a></li>
                        <li class="active"><a href="accomodation_detail.html">Standart Room</a></li>
                        <li><a href="accomodation_detail.html">Luxury Room</a></li>
                        <li><a href="accomodation_detail.html">Family Room</a></li>
                        <li><a href="accomodation_detail.html">VIP Room</a></li>
                        <li><a href="accomodation_detail.html">Deluxe Room</a></li>
                        <li><a href="accomodation_detail.html">Romantic Room</a></li>
                    </ul>
                    <!-- End section list Link Acomodation -->
                    <!-- Start List Testimonial-->
                </div>
                <div class="span9">
                    <!-- Start Detail Acomodation -->
                    <div id="myCarousel" class="carousel slide">
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>
                        <!-- Carousel items -->
                        <div class="carousel-inner carousel_full_images">
                            <div class="active item"><img src="{% static "images/dot.png" %}"
                                                          data-src="{% static "images/interior/5388055503_bdfec0a3d5.jpg" %}"
                                                          alt="preview">

                                <div class="carousel-caption">
                                    <h4>Second Thumbnail label</h4>

                                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi
                                        porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id
                                        elit.</p>
                                </div>
                            </div>
                            <div class="item"><img src="{% static "images/dot.png" %}"
                                                   data-src="{% static "images/interior/5388661724_e92356d456.jpg" %}"
                                                   alt="preview">

                                <div class="carousel-caption">
                                    <h4>Second Thumbnail label</h4>

                                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi
                                        porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id
                                        elit.</p>
                                </div>
                            </div>
                            <div class="item"><img src="{% static "images/dot.png" %}"
                                                   data-src="{% static "images/interior/5388662544_9e6441ee70.jpg" %}"
                                                   alt="preview">

                                <div class="carousel-caption">
                                    <h4>Second Thumbnail label</h4>

                                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi
                                        porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id
                                        elit.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Carousel nav -->
                        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
                    </div>
                    <div class="divater">
                        <div class="line"></div>
                        <span><img src="{% static "images/deviter.png" %}" alt=""></span></div>
                    <h2>General Information</h2>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.</p>

                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui.</p>

                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                        deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
                        provident.</p>

                    <p>Et harum quidem rerum facilis est et <em>expedita distinctio</em>. Nam libero tempore, cum soluta
                        nobis.</p>

                    <h3>Room Facilities</h3>
                    <!--start list square-->
                    <ul class="square">
                        <li>Voluptatem sequi</li>
                        <li>Quis nostrud</li>
                        <li>Lorem ipsum</li>
                        <li>Consectetur</li>
                        <li>Aspernatur aut odit</li>
                        <li>Sequi nesciunt</li>
                        <li>Ut enim ad</li>
                    </ul>
                    <!--end list square-->
                    <!-- End Detail Acomodation -->
                </div>
            </div>
        </div>
    </section>
{% endblock %}