{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section id="logo_message_area">
        <div class="inner-wrapper">
            <!-- Start logo image -->
            <h1 class="no_margin logo"><strong>Luksusowe</strong>
                <small>Domy</small>
            </h1>
            <!-- End logo image -->
            <!-- Start Message Your own -->
            <div class="row-fluid">
                <div class="span8">
                    <p class="no_margin"> Strona główna</p>
                </div>
                {#                <div class="span4 text_right">#}
                {#                    <a class="btn btn-primary flat"><i class=" icon-shopping-cart"></i> Buy This Template</a>#}
                {#                </div>#}
            </div>
            <!-- End Message Your own -->
        </div>
        <div class="inner-wrapper driver_space"></div>
    </section>
    <!-- End section logo message area -->
    <!-- Start section content page -->
    <section id="content">
        <div class="inner-wrapper">
            <!-- Begin Content Page -->
            <div class="row-fluid">
                <div class="span12">
                    <div class="text_center">
                        <h1>Zapraszamy do zapoznania się z naszą ofertą</h1><br/><br/>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span2"></div>
                <div class="span8">
                    <div class="text_left">
                        <p>
                            Domy w zabudowie szeregowej położone w malowniczej części miejscowości Luzino 8km od
                            Wejherowa, 35km od Gdyni. Wielkość działek od 420m2 do 850m2. Cena za metr kwadratowy
                            łącznie z działką – 1790zł
                        </p>

                        <p>

                            MEDIA: energia elektryczna, kanalizacja gminna, wodociąg gminny, gaz ziemny, telewizja kablowa, internet do 100mb/s, telefon.
                        </p>

                        <p>
                            WYKONANIE: budynki wykonano z Porotherm Wienerberger. Pióro-wpust szerokości 25 cm, klasy 150.
                        </p>

                        <div class="divater">
                            <div class="line"></div>
                        <span>
                            <img src="{% static 'images/deviter.png' %}" alt="">
                        </span>
                        </div>
                        <p>
                            Konstrukcja dachów drewniana w całości odeskowana. Dach pokryty dachówką ceramiczną
                            najwyższej klasy, czarną z połyskiem.
                            Kominy systemowe firmy Layer. Balkony – balustrady kute, bogato
                            zdobione. Elewacja budynku docieplona styropianem o grubości 12 i 14 cm w całości wykonana
                            systemowo z tynkiem silikatowo-silikonowym.
                            Całość budynku wykonana z materiałów najwyższej klasy atestowanych i potwierdzonych systemem
                            jakości PN.
                            Stolarka okienno-drzwiowa najwyższej klasy. Okna w kolorze orzecha, sześciokomorowe
                            Brama garażowa: drzwi wejściowe firmy Wiszniewski
                        </p>

                        <div class="divater">
                            <div class="line"></div>
                        <span>
                            <img src="{% static 'images/deviter.png' %}" alt="">
                        </span>
                        </div>
                        <p>
                            Jedna część szeregu składa się z:
                            PARTER – garaż, kotłownia, korytarz, przedpokój, gabinet, salon połączony z kuchnią, komórka,
                            oraz łazienka
                        </p>

                        <p>
                            PIĘTRO – cztery sypialnie, salon łazienkowy i garderoba, cztery balkony o pow. Około 14m2
                        </p>

                        <p>
                            STRYCH – pow.30m2
                        </p>

                        <p>
                            LOKALIZACJA: Urokliwa część Luzina położona na wzgórzu wśród przepięknych lasów sosnowych
                            około 1km od trasy nr 6, 1 km do dworca PKP, 400m do dworca PKS i MZK, w pobliżu gimnazjum,
                            kościół, oraz place zabaw dla dzieci.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <!-- Start Break Page Style-->
                    <div class="divater">
                        <div class="line"></div>
                        <span>
                            <img src="{% static 'images/deviter.png' %}" alt="">
                        </span>
                    </div>
                    <!-- End Break Page Style-->

                    <!-- Start Grid Top Featires-->
                    <div class="row-fluid">
                        {% for house in house_types %}
                        <div class="span4 text_center">
                            <div class="boxfeature">
                                <div class="img_preview">
                                    <img src="{% static 'images/dot.png' %}"
                                         data-src="{{ house.images.first.image.url }}" alt="img_preview"/>
                                    <h4>{{ house.name }}</h4>
                                </div>
                                <div class="desc">
{#                                    <p>#}
{#                                        {{ house.short_desc }}#}
{#                                    </p>#}

                                    <p><a href="{% url 'core:houses' house.pk %}" class="btn btn-primary flat btn-large">Szczegóły</a></p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <!-- End Grid Top Featires-->

                    <!-- Start Break Page Style-->
                    <div class="divater">
                        <div class="line"></div>
                        <span><img src="{% static 'images/deviter.png' %}" alt=""></span></div>
                    <!-- End Break Page Style-->

                </div>
            </div>
            <!-- End Content Page -->
        </div>
    </section>
{% endblock %}