
<section id="top_header">
    <div class="inner-wrapper text_center">
        <!--Start Main Navigation-->
        <div class="togle_menu_mobile"><a class="btn btn-primary flat" data-toggle="collapse"
                                          data-target=".main_navbar"> <i class="icon-th-list icon-2x"></i> </a>
            <strong>&nbsp;&nbsp;Lobster </strong> Hotel
        </div>
        <nav class="main_navbar collapse">
            <ul class="unstyled">

                <li {% if active == 'main' %}class="active"{% endif %}><a href="{% url 'core:main' %}">Strona Główna</a></li>
                <li {% if active == 'houses' %}class="active"{% endif %}><a href="{% url 'core:houses' house_types.first.pk %}">o domach</a></li>
                <li {% if active == 'hood' %}class="active"{% endif %}><a href="{% url 'core:hood' %}">O osiedlu</a></li>
                <li {% if active == 'gallery' %}class="active"{% endif %}><a href="{% url 'core:gallery' 'etap1' %}">Galeria</a></li>
                <li {% if active == 'contact' %}class="active"{% endif %}><a href="{% url 'core:contact' %}">Kontakt</a></li>
{#                <li class="dropdown">#}
{#                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <b class="caret"></b></a>#}
{#                    <ul class="dropdown-menu">#}
{#                        <li><a href="index_simple.html">Home Simple</a></li>#}
{#                        <li><a href="blog.html">Blog</a></li>#}
{#                        <li><a href="blog_detail.html">Blog Detail</a></li>#}
{#                        <li><a href="galeries.html">Galeries</a></li>#}
{#                        <li><a href="blank.html">Blank page</a></li>#}
{#                        <li><a href="documentation/index.html">Documentation</a></li>#}
{#                    </ul>#}
{#                </li>#}
            </ul>
        </nav>
        <!--ENd Main Navigation-->
    </div>
</section>
